.detail_account {
    max-width: 500px;
    .-content {
        margin: 10px 0;
    }
    .update_profile {
        border: 2px solid var(--box-border);
        border-radius: 5px;
        padding: 1.5rem;
    }
}