.-content {
    .form-group_user {
        display: flex;
        flex-direction: column;
        .title {
            padding: 1rem 0;
        }
        .info {
            font-size: 1.4rem;
            padding: 0.6rem;
            border-radius: 5px;
            border-color: transparent;
            &:focus {
                border: 2px solid var(--hover-text);
            }
        }
        .--gender {
            padding: 0.6rem;
            border-radius: 5px;
        }
        button {
            margin: 1rem 0;
        }
    }    
}
