
:root {
    --green: #81C91D;
    --blue: #4C6EF4;
    --text_primary: #5B6164;
    --green_shadow: rgba(129, 201, 29, 0.6);
    --blue_shadow: rgba(76, 110, 244, 0.6);
}

html {
    font-family: 'Roboto', sans-serif;
    color: var(--text_primary);
}
