html {
    color: var(--text_primary) ;
}

.wrap {
    max-width: 100%;
    margin: 0 auto;
    background-image: url('/img/bg_header.jpg');
    background-position: 145px 0;
    background-repeat: repeat-x;
}

.container {
    max-width: 1210px;
    padding: 0 2rem;
    margin: 0 auto;
}

// header top
.header {
    
}

.header_top {
    display: flex;
    height: 52px;
    justify-content: space-between;
    align-items: center;
}

.header_bottom {
    display: flex;
    height: 42px;
}

.header_top--item {
    height: 100%;
    .logo  {
        display: block;
        width: 175px;
        height: 100%;
        background-image: url('/img/logo-nettruyen.png');
        background-position: center center;
        background-repeat: no-repeat;
    }
    &.search_light--novel {
        position: relative;
        width: 424px;
        height: 40px;
        .-item {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            font-size: 14px;
            padding: 0 10px;
            border: none;
            outline: none;
            border-radius: 50px;
        }
        .-btn {
            position: absolute;
            right: 0;
            top: 0;
            transform: translateX(0%);
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 100%;
            color: rgb(100, 100, 100);
            text-decoration: none;
            &:hover {
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                background-color: rgb(192, 192, 192);
            }
        }
    }
    &.manager {
        display: flex;
        width: 120px;
        align-items: center;
        justify-content: space-between;
        ._user {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background-color: #ffffff;
            color: rgb(75, 75, 75);
            border-radius: 50px;
            position: relative;
            .--dropdown {
                position: absolute;
                display: none;
                width: 300px;
                right: -30px;
                &:before {
                    position: absolute;
                    content: '';
                    display: block;
                    box-sizing: border-box;
                    border-color: transparent #bababa transparent transparent;
                    width: 65px;
                    height: 30px;
                    border-width: 20px;
                    border-top-width: -53px;
                    border-style: solid;
                    transform: rotate(90deg);
                    top: -52px;
                    right: 17px;
                }
                &:hover {
                    display: block;
                    background-color: #bababa;
                    z-index: 999;
                    transform: translateY(62%);
                    cursor: pointer;
                    border-radius: 10px;
                    // box-shadow: 0 2px 37px #4646464a;
                    padding: 10px;
                }
                .-item {
                    position: relative;
                    box-sizing: border-box;
                    height: 72px;
                    padding: 5px;
                    border-radius: 10px;
                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                    &:hover {
                        background-color: var(--hover_black);
                    }
                    &:not(:last-child):after {
                        content: "";
                        display: block;
                        position: absolute;
                        height: 2px;
                        width: 95%;
                        left: 0;
                        bottom: -11px;
                        transform: translateX(2%);
                        background-color: var(--hover_black);
                    }
                    ._click {
                        display: block;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        color: var(--text_primary);
                        text-decoration: none;
                        .-avatar {
                            width: 60px;
                            height: 60px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 20px;
                            border-radius: 50px;
                            background-color: #a3a3a3;
                        }
                        .-property {
                            height: 45px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            padding-left: 15px;
                            .-name {
                                padding-bottom: 6px;
                            }
                        }
                    }
                }
            }
            &:active > .--dropdown {
                display: block;
            }
        }
        ._notification {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 40px;
            color: rgb(75, 75, 75);
            border-radius: 50px;
            background-color: #ffffff;
            position: relative;
            .--dropdown {
                display: none;
            }
            &:hover {
                cursor: pointer;
            }
            &:active > .--dropdown {
                cursor: pointer;
                display: block;
            }
        }
    }
}

