html {
    color: var(--text_primary);
    background-color: #EBEBEB;
}

.box_header {
    width: 100%;    
}

// header top
.header {
    width: 100%;
    height: 52px;
}       

.box_header--top {   
    height: 52px;
    box-sizing: border-box;
    background-image: url('/img/bg_header.jpg');
    background-position: 145px 0;
    background-repeat: repeat-x;    
}

.box_header--bottom {
    height: 42px;
    box-sizing: border-box;
    background-color: #E4E4E4;
}

.header_top {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_bottom {    
    display: flex;
    height: 42px;
}

.header_top--item {
    height: 100%;
    .logo  {
        display: block;
        width: 175px;
        height: 100%;
        background-image: url('/img/logo-nettruyen.png');
        background-position: center center;
        background-repeat: no-repeat;
    }
    &.search_light--novel {
        position: relative;
        width: 424px;
        height: 40px;
        .-item {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            font-size: 14px;
            padding: 0 10px;
            border: none;
            outline: none;
            border-radius: 50px;
        }
        .-btn {
            position: absolute;
            right: 0;
            top: 0;
            transform: translateX(0%);
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 100%;
            color: rgb(100, 100, 100);
            text-decoration: none;
            &:hover {
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                background-color: rgb(192, 192, 192);
            }
        }
    }
    &.manager {
        display: flex;
        width: 120px;
        align-items: center;
        justify-content: space-between;
        ._user {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background-color: #ffffff;
            color: rgb(75, 75, 75);
            border-radius: 50px;
            position: relative;
            .--dropdown {
                position: absolute;
                display: none;
                width: 300px;
                right: -30px;
                background-color: #ffffff;
                transform: translateY(61%);
                z-index: 999;
                border-radius: 10px;
                box-shadow: 0 2px 37px #4646464a;
                padding: 10px;
                border: 1px solid black;
                &:before {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 20px;
                    height: 20px;
                    background-color: white;
                    box-sizing: border-box;
                    border-top: 1px solid black;
                    border-right: 1px solid black;
                    transform: rotate(-45deg);
                    top: -10.6px;
                    right: 39px;
                }
                .-item {
                    position: relative;
                    box-sizing: border-box;
                    height: 72px;
                    cursor: pointer;
                    padding: 5px;
                    border-radius: 10px;
                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                    &:hover {
                        background-color: var(--hover_black);
                    }
                    &:not(:last-child):after {
                        content: "";
                        display: block;
                        position: absolute;
                        height: 2px;
                        width: 95%;
                        left: 0;
                        bottom: -11px;
                        transform: translateX(2%);
                        background-color: var(--hover_black);
                    }
                    ._click {
                        display: block;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        color: var(--text_primary);
                        text-decoration: none;
                        .-avatar {
                            width: 60px;
                            height: 60px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 20px;
                            border-radius: 50px;
                            background-color: #a3a3a3;
                        }
                        .-property {
                            height: 45px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            padding-left: 15px;
                            .-name {
                                padding-bottom: 6px;
                            }
                        }
                    }
                }
            }
        }
        ._notification {
            display: flex;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 40px;
            color: rgb(75, 75, 75);
            border-radius: 50px;
            background-color: #ffffff;
            position: relative;
            .--dropdown {
                position: absolute;
                display: none;
                width: 300px;
                right: -30px;
                background-color: #ffffff;
                transform: translateY(61%);
                z-index: 999;
                border-radius: 10px;
                box-shadow: 0 2px 37px #4646464a;
                padding: 10px;
                border: 1px solid black;
                &:before {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 20px;
                    height: 20px;
                    background-color: white;
                    box-sizing: border-box;
                    border-top: 1px solid black;
                    border-right: 1px solid black;
                    transform: rotate(-45deg);
                    top: -10.6px;
                    right: 39px;
                }
                .-item {
                    position: relative;
                    box-sizing: border-box;
                    height: 72px;
                    cursor: pointer;
                    padding: 5px;
                    border-radius: 10px;
                }
            }
        }
    }
}

.header_bottom {
    display: flex;
    align-items: center;
    height: 100%;
    .--item {
        height: 100%;
        display: flex;
        align-items: center;
        .-btn {
            color: var(--text_primary);
            padding: 13.5px;
            text-decoration: none;
            font-size: 14px;
            display: flex;
            align-items: center;
            &:hover {
                background-color: var(--hover_black);
            }
            i {
                position: relative;
                padding-left: 5px;
                top: -1px;
            }
        }
    }
}

// side_bar
.side_bar {
    width: 100%;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
    .--title-name {
        font-size: 20px;
        color: #4891C2;
    }
    .side_show {
        display: flex;
        width: 1140px;
        height: 220px;
        background-color: #ffffff;
        overflow: hidden;
        margin: 0 auto;
        align-items: center;
        padding-bottom: 20px;
        // transform: translate(0px -> -762px)
        .story_appoint {
            width: fit-content;    
            height: 100%;
            display: flex;
            .--appoint {
                min-width: 190px;   
                height: 100%;
                overflow: hidden;
                padding: 0 0.4375rem;
                box-sizing: border-box;
                position: relative;
                .-link {
                    width: 100%;
                    height: 100%;
                    display: block;
                    .-image-story {
                        width: 100%;
                    }
                }
                .-manager {
                    position: absolute;
                    width: calc(100% - 0.875rem);
                    height: 52px;
                    bottom: 0;
                    box-sizing: border-box;
                    background-color: #383838ad;
                    padding: 6px;
                    .-info {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        width: 100%;
                        box-sizing: border-box;
                        height: 100%;
                        .-link {
                            text-decoration: none;
                            text-align: center;
                            color: #ffffff;
                            height: fit-content;
                            width: 100%;
                            .-name {
                                width: 100%;
                                font-size: 18px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                        .-time {
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            color: #ffffff;
                            a {
                                color: #ffffff;
                                text-decoration: none;
                                font-size: 14px;
                            }
                            .-time-up-chapter {
                                font-size: 10px;
                                padding-left: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// box story
.box_story {
    width: fit-content;
    height: auto;
    background-color: #fff;
    .--title-name {
        font-size: 20px;
        color: #4891C2;
    }
    .list_story {   
        width: 100%;
        .story {    
            width: 150px;
            &.story {
                padding: 0 0.4375rem;
            }
            .story_photo {
                position: relative;
                width: 100%;
                height: 224px;
                box-sizing: border-box;
                .story_link {
                    width: 100%;    
                    height: 100%;
                    display: block;
                    img {
                        width: 100%;

                        border-radius: 5px;
                    }
                }
                .story_info {
                    display: flex;
                    justify-content: space-around;
                    padding: 0 2px;
                    align-items: center;
                    position: absolute;
                    width: 100%;
                    height: 25px;
                    box-sizing: border-box;
                    background-color: #383838ad;
                    bottom: 0;
                    color: #ffffff;
                    font-size: 12px;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
            }
            .story_name {
                width: 100%;
                font-size: 18px;
                color: var(--text_primary);
                padding: 5px 0;
            }
            .story_state--chapter {
                font-family: sans-serif;    
                .-last {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .-number-chapter {
                        font-size: 12px;
                        font-weight: 500;
                    }
                    .-time {
                        font-size: 10px;
                    }   
                }
                .-last:not(:last-child) {
                    padding: 5px 0;
                    display: flex;
                }
                .-last:last-child {
                    padding-top: 5px;
                    display: flex;
                }
            }
        }
    }
}