.user_properties {
    padding: 0 1.5rem;
    background-color: var(--header-bottom);
    color: var(--text-primary);
    .route_list {
        padding: 1.5rem 0;
        .-item {
        }
    }
    .user_profile {
        display: flex;
        .route_detail {
            min-width: 24rem;
            .show_user {
                display: flex;
                border: 2px solid var(--box-border);
                border-radius: 5px;
                padding: 5px;
                .-avatar {
                    height: 80px;
                    max-width: 80px;
                    display: block;
                    img {
                        border-radius: 50px;
                        width: 100%;
                        // object-fit: contain;
                    }
                }
                .-info {
                    width: 100%;
                    flex-direction: column;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    span {
                        padding: 8px 0;
                    }
                    .--hello {

                    }
                    .--user-name {
                        font-size: 16px;
                        font-weight: 800;
                    }
                }
            }
            .-index {
                margin: 1.5rem 0;
                .--item {
                    width: 100%;
                    // padding: 1.2rem 0;
                    // padding-left: 0.8rem;
                    transition: all 0.1s linear;
                    cursor: pointer;
                    a {
                        text-decoration: none;
                        color: var(--text-primary);
                        width: inherit;
                        display: block;
                        line-height: 3;
                        padding-left: 0.8rem;
                    }
                    &:hover {
                        background-color: var(--hover-btn);
                    }
                }
            }
        }
        .show_content {
            width: 100%;
            margin-left: 2.5rem;
            margin-bottom: 2.5rem;
            .--title {
                font-size: 20px;
                padding: 1.5rem 0;
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    height: 4px;
                    width: 10%;
                    bottom: 0;
                    left: 0;
                    background-color: var(--tick);
                }
            }
            > div {
                max-width: 550px;
                min-width: 340px;
                .-info {
                    display: flex;
                    justify-content: space-between;
                    padding: 1rem 0;
                    margin: 1.5rem 0;
                    border-left: 4px solid var(--tick);
                    padding-left: 0.8rem;
                    .-account {

                    }
                    .-edit {
                        cursor: pointer;
                    }
                }
                .-content {
                    border: 2px solid var(--box-border);
                    padding: 1.5rem 2rem;
                    span {
                        display: block;
                        padding: 1rem 0;
                    }
                }
            }
        }
    }
}