.detail_account {
  max-width: 500px; }
  .detail_account .-content {
    margin: 10px 0; }
  .detail_account .update_profile {
    border: 2px solid var(--box-border);
    border-radius: 5px;
    padding: 1.5rem; }
