@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap");
@import url("./not-found.css");
@import url("./login.css");
@import url("./base.css");
@import url("./profile.css");
.box_header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999; }

.header {
  width: 100%;
  height: 52px; }

.box_header--top {
  height: 52px;
  box-sizing: border-box;
  background-image: url("/img/bg_header.jpg");
  background-position: 145px 0;
  background-repeat: repeat-x; }

.box_header--bottom {
  box-sizing: border-box;
  background-color: var(--header-bottom); }

.header_top {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header_bottom {
  display: flex;
  height: 42px; }

.box_content {
  margin-top: 92px; }

.header_top--item {
  height: 100%; }
  .header_top--item .logo {
    display: block;
    width: 175px;
    height: 100%;
    background-image: url("/img/logo-nettruyen.png");
    background-position: center center;
    background-repeat: no-repeat; }
  .header_top--item.search_light--novel {
    position: relative;
    width: 424px;
    height: 40px;
    display: flex;
    align-items: center; }
    .header_top--item.search_light--novel .-item {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      font-size: 16px;
      padding: 0 14px;
      border: none;
      outline: none;
      border-radius: 50px; }
    .header_top--item.search_light--novel .-btn {
      position: absolute;
      right: 0;
      padding: 9.5px 25px;
      border-radius: 50px;
      margin: 4px;
      box-sizing: border-box;
      color: var(--text-primary);
      text-decoration: none;
      background-color: var(--hover-btn); }
  .header_top--item.manager {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: space-between; }
    .header_top--item.manager ._user {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      color: var(--text-primary);
      background-color: var(--dark-them);
      border: 2px solid var(--box-border);
      border-radius: 50px;
      position: relative;
      margin-left: 10px; }
      .header_top--item.manager ._user .--dropdown {
        position: absolute;
        display: none;
        width: 300px;
        right: -30px;
        transform: translateY(61%);
        z-index: 999;
        border-radius: 10px;
        box-shadow: var(--shadow);
        padding: 10px;
        border: 2px solid var(--box-border);
        background-color: var(--dark-them); }
        .header_top--item.manager ._user .--dropdown:before {
          position: absolute;
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          background-color: var(--dark-them);
          box-sizing: border-box;
          border-top: 2px solid var(--box-border);
          border-right: 2px solid var(--box-border);
          transform: rotate(-45deg);
          top: -10.6px;
          right: 39px; }
        .header_top--item.manager ._user .--dropdown .-item {
          position: relative;
          box-sizing: border-box;
          height: 72px;
          cursor: pointer;
          padding: 5px;
          border-radius: 10px;
          transition: all 0.2s linear; }
          .header_top--item.manager ._user .--dropdown .-item:not(:last-child) {
            margin-bottom: 10px; }
          .header_top--item.manager ._user .--dropdown .-item:not(:last-child):after {
            content: "";
            display: block;
            position: absolute;
            height: 2px;
            width: 95%;
            left: 0;
            bottom: -11px;
            transform: translateX(2%);
            background-color: var(--hover_black); }
          .header_top--item.manager ._user .--dropdown .-item:hover {
            background-color: var(--hover_black); }
            .header_top--item.manager ._user .--dropdown .-item:hover a span {
              color: var(--hover-text);
              border-color: var(--hover-text) !important; }
          .header_top--item.manager ._user .--dropdown .-item ._click {
            display: block;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            color: var(--text-primary);
            text-decoration: none; }
            .header_top--item.manager ._user .--dropdown .-item ._click .-avatar {
              width: 60px;
              height: 60px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 20px;
              border-radius: 50px;
              color: var(--text-primary);
              background-color: var(--dark-them);
              border: 2px solid var(--box-border);
              box-shadow: 0 10px 20px 0 rgba(92, 92, 92, 0.5); }
            .header_top--item.manager ._user .--dropdown .-item ._click .-property {
              height: 45px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding-left: 15px;
              color: #fff; }
              .header_top--item.manager ._user .--dropdown .-item ._click .-property .-name {
                padding-bottom: 6px; }
    .header_top--item.manager .sign {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      height: 40px;
      background-color: #ffffff;
      color: #4b4b4b;
      border-radius: 50px;
      position: relative; }
      .header_top--item.manager .sign ._in {
        height: 80%;
        width: 50%;
        background-color: var(--dark-them);
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        text-decoration: none;
        color: var(--text-primary);
        margin-left: 5px;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 5px; }
      .header_top--item.manager .sign ._up {
        height: 80%;
        width: 50%;
        background-color: var(--dark-them);
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        text-decoration: none;
        color: var(--text-primary);
        margin: 0 5px;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 5px; }
    .header_top--item.manager ._notification {
      display: flex;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
      border-radius: 50px;
      color: var(--text-primary);
      background-color: var(--dark-them);
      border: 2px solid var(--box-border);
      position: relative; }
      .header_top--item.manager ._notification .--dropdown {
        position: absolute;
        display: none;
        width: 300px;
        right: -30px;
        background-color: #ffffff;
        transform: translateY(61%);
        z-index: 999;
        border-radius: 10px;
        box-shadow: 0 2px 37px #4646464a;
        padding: 10px;
        border: 1px solid black; }
        .header_top--item.manager ._notification .--dropdown:before {
          position: absolute;
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          background-color: white;
          box-sizing: border-box;
          border-top: 1px solid black;
          border-right: 1px solid black;
          transform: rotate(-45deg);
          top: -10.6px;
          right: 39px; }
        .header_top--item.manager ._notification .--dropdown .-item {
          position: relative;
          box-sizing: border-box;
          height: 72px;
          cursor: pointer;
          padding: 5px;
          border-radius: 10px; }

.header_bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: inherit; }
  .header_bottom .--item {
    height: inherit;
    box-sizing: border-box; }
    .header_bottom .--item .-btn {
      height: inherit;
      width: fit-content;
      color: var(--text-primary);
      line-height: 3;
      padding: 0 1.5rem;
      text-decoration: none;
      font-size: 14px;
      display: block;
      text-align: center;
      transition: all 0.2s linear; }
      .header_bottom .--item .-btn:hover {
        background-color: var(--hover-btn); }

.side_bar {
  width: 100%;
  background-color: transparent;
  position: relative;
  overflow: hidden; }
  .side_bar .--title-name {
    font-size: 20px;
    padding: 18px 0; }
  .side_bar .side_show {
    width: 1140px;
    height: 220px;
    background-color: transparent;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 20px;
    position: relative; }
    .side_bar .side_show .owl-nav {
      background: transparent; }
      .side_bar .side_show .owl-nav .owl-prev {
        position: absolute;
        width: 55px;
        height: 55px;
        font-size: 25px;
        top: 50%;
        transform: translateY(-50%);
        left: -10px;
        background-image: url("/img/next_prev.png");
        background-position: -3px -33px;
        background-repeat: no-repeat;
        outline: none; }
        .side_bar .side_show .owl-nav .owl-prev:hover {
          background-position: -123px -33px; }
        .side_bar .side_show .owl-nav .owl-prev:active {
          background-position: -243px -33px; }
      .side_bar .side_show .owl-nav .owl-next {
        position: absolute;
        width: 55px;
        height: 55px;
        font-size: 25px;
        top: 50%;
        right: -10px;
        background-image: url("/img/next_prev.png");
        background-position: -4px -33px;
        transform: rotate(180deg) translateY(50%);
        background-repeat: no-repeat;
        outline: none; }
        .side_bar .side_show .owl-nav .owl-next:hover {
          background-position: -124px -33px; }
        .side_bar .side_show .owl-nav .owl-next:active {
          background-position: -243px -33px; }
    .side_bar .side_show .story_appoint {
      width: 100%;
      height: 100%;
      display: flex;
      box-sizing: border-box;
      position: relative; }
      .side_bar .side_show .story_appoint .--appoint {
        min-width: 190px;
        height: 100%;
        overflow: hidden;
        padding: 0 0.4375rem;
        box-sizing: border-box;
        position: relative; }
        .side_bar .side_show .story_appoint .--appoint .-link {
          width: 100%;
          height: 100%;
          display: block; }
          .side_bar .side_show .story_appoint .--appoint .-link .-image-story {
            width: 100%; }
        .side_bar .side_show .story_appoint .--appoint .-manager {
          position: absolute;
          width: calc(100% - 0.875rem);
          height: 52px;
          bottom: 0;
          box-sizing: border-box;
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(6, 6, 6, 0.55) 30%, rgba(0, 0, 0, 0.92) 100%);
          padding: 6px; }
          .side_bar .side_show .story_appoint .--appoint .-manager .-info {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 100%;
            box-sizing: border-box;
            height: 100%; }
            .side_bar .side_show .story_appoint .--appoint .-manager .-info .-link {
              text-decoration: none;
              text-align: center;
              color: var(--text-primary);
              height: fit-content;
              width: 100%; }
              .side_bar .side_show .story_appoint .--appoint .-manager .-info .-link .-name {
                width: 100%;
                font-size: 18px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis; }
            .side_bar .side_show .story_appoint .--appoint .-manager .-info .-time {
              display: flex;
              justify-content: space-around;
              align-items: center;
              color: var(--text-primary); }
              .side_bar .side_show .story_appoint .--appoint .-manager .-info .-time a {
                color: var(--text-primary);
                text-decoration: none;
                font-size: 14px; }
              .side_bar .side_show .story_appoint .--appoint .-manager .-info .-time .-time-up-chapter {
                font-size: 10px;
                padding-left: 5px; }

.box_story {
  width: 100%;
  height: auto;
  background-color: transparent;
  display: flex;
  justify-content: space-between; }
  .box_story .--title-name {
    width: 100%;
    font-size: 20px;
    padding: 8px 0; }
  .box_story .content_left {
    width: 680px; }
    .box_story .content_left .list_story {
      width: 100%; }
      .box_story .content_left .list_story .story {
        width: 150px;
        padding: 10px; }
        .box_story .content_left .list_story .story .story_photo {
          position: relative;
          width: 100%;
          height: 224px;
          box-sizing: border-box; }
          .box_story .content_left .list_story .story .story_photo .story_link {
            width: 100%;
            height: 100%;
            display: block; }
            .box_story .content_left .list_story .story .story_photo .story_link img {
              width: 100%;
              height: 100%;
              border-radius: 5px; }
          .box_story .content_left .list_story .story .story_photo .story_info {
            display: flex;
            justify-content: space-around;
            padding: 0 2px;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 25px;
            box-sizing: border-box;
            background-image: linear-gradient(to right, #ca5eeed2, #4be1ecd2);
            bottom: 0;
            color: #ffffff;
            font-size: 12px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px; }
        .box_story .content_left .list_story .story .story_name {
          max-width: 152px;
          font-size: 16px;
          color: var(--text-primary);
          text-decoration: none;
          padding: 5px 0;
          display: block;
          font-weight: 600; }
        .box_story .content_left .list_story .story .story_state--chapter {
          font-family: sans-serif; }
          .box_story .content_left .list_story .story .story_state--chapter .-last {
            display: flex;
            justify-content: space-between;
            align-items: center; }
            .box_story .content_left .list_story .story .story_state--chapter .-last .-number-chapter {
              font-size: 12px;
              font-weight: 500;
              text-decoration: none;
              color: var(--text-primary); }
            .box_story .content_left .list_story .story .story_state--chapter .-last .-time {
              font-size: 10px;
              color: var(--text-primary); }
          .box_story .content_left .list_story .story .story_state--chapter .-last:not(:last-child) {
            padding: 5px 0;
            display: flex; }
          .box_story .content_left .list_story .story .story_state--chapter .-last:last-child {
            padding-top: 5px;
            display: flex; }
  .box_story .content_right {
    max-width: 430px; }
    .box_story .content_right .rank_story {
      margin-top: 40px;
      width: 100%;
      border: 1px solid var(--box-border);
      border-top: none; }
      .box_story .content_right .rank_story .box_top {
        display: flex;
        width: 100%; }
        .box_story .content_right .rank_story .box_top div {
          display: flex;
          flex: 1;
          height: 45px;
          background-color: var(--box);
          justify-content: center;
          align-items: center;
          cursor: pointer;
          color: #fff;
          font-size: 16px;
          transition: all 0.2s linear; }
      .box_story .content_right .rank_story .rank_index {
        width: 100%; }
        .box_story .content_right .rank_story .rank_index > div {
          width: 100%;
          display: flex;
          padding: 12px 8px;
          box-sizing: border-box;
          position: relative; }
          .box_story .content_right .rank_story .rank_index > div .--number {
            display: flex;
            font-size: 22px;
            width: 20px;
            align-items: center;
            justify-content: center;
            padding-right: 8px;
            margin: 0 10px; }
          .box_story .content_right .rank_story .rank_index > div .--avatar-story {
            min-width: 50px;
            height: 50px;
            background-image: url("http://st.truyenchon.com/data/comics/25/doi-phuong-phai-to-tinh-truoc.jpg");
            background-size: 50px;
            background-repeat: no-repeat; }
          .box_story .content_right .rank_story .rank_index > div .--story_property {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 8px;
            width: inherit; }
            .box_story .content_right .rank_story .rank_index > div .--story_property .-name_story {
              font-size: 16px;
              text-decoration: none;
              width: 290px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              color: var(--text-primary);
              transition: all 0.2s linear; }
            .box_story .content_right .rank_story .rank_index > div .--story_property .-story-info {
              display: flex;
              justify-content: space-between; }
              .box_story .content_right .rank_story .rank_index > div .--story_property .-story-info .-number-chapter {
                font-size: 14px;
                text-decoration: none;
                color: var(--text-primary);
                transition: all 0.2s linear; }
              .box_story .content_right .rank_story .rank_index > div .--story_property .-story-info .-view-story {
                font-size: 12px; }
                .box_story .content_right .rank_story .rank_index > div .--story_property .-story-info .-view-story i {
                  padding-right: 3px; }
    .box_story .content_right .comment_story {
      width: 100%;
      padding: 8px;
      border: 1px solid var(--box-border);
      margin-top: 40px;
      box-sizing: border-box; }
      .box_story .content_right .comment_story .--title {
        width: 100%;
        height: 40px;
        display: block;
        font-size: 18px;
        display: flex;
        align-items: center;
        position: relative;
        color: var(--text-primary); }
        .box_story .content_right .comment_story .--title::after {
          content: '';
          display: block;
          width: 90%;
          height: 1px;
          position: absolute;
          background-color: var(--box-border);
          bottom: 0;
          left: 5%;
          margin: 0 auto; }
      .box_story .content_right .comment_story .box_comment {
        width: 100%;
        position: relative;
        padding-bottom: 8px; }
        .box_story .content_right .comment_story .box_comment .--info {
          display: flex;
          width: 100%;
          text-decoration: none;
          justify-content: space-between;
          align-items: center;
          color: var(--text-primary); }
          .box_story .content_right .comment_story .box_comment .--info > .-name {
            width: 210px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            height: 40px;
            display: flex;
            font-size: 14px;
            align-items: center; }
          .box_story .content_right .comment_story .box_comment .--info .-number-chapter {
            width: fit-content;
            font-size: 14px;
            color: #4891C2; }
        .box_story .content_right .comment_story .box_comment .user_comment {
          width: 100%;
          display: flex; }
          .box_story .content_right .comment_story .box_comment .user_comment .--avatar {
            position: relative;
            min-width: 50px;
            height: 50px;
            background-image: url("http://st.truyenchon.com/data/sites/1/useravatars/user34938-embingoc123.jpeg");
            background-repeat: no-repeat;
            border-radius: 50px;
            overflow: hidden; }
          .box_story .content_right .comment_story .box_comment .user_comment .--info {
            display: flex;
            flex-direction: column;
            padding-left: 8px; }
            .box_story .content_right .comment_story .box_comment .user_comment .--info .-time-chat {
              width: 100%;
              height: 28px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding-bottom: 6px;
              box-sizing: border-box; }
              .box_story .content_right .comment_story .box_comment .user_comment .--info .-time-chat > .-name {
                text-decoration: none;
                color: var(--text-primary);
                font-size: 15px;
                height: 100%;
                width: fit-content; }
                .box_story .content_right .comment_story .box_comment .user_comment .--info .-time-chat > .-name i {
                  padding: 2px;
                  color: var(--text-primary); }
              .box_story .content_right .comment_story .box_comment .user_comment .--info .-time-chat .-time {
                width: fit-content;
                color: var(--text-primary);
                height: 100%;
                font-size: 12px;
                display: flex;
                align-items: center; }
                .box_story .content_right .comment_story .box_comment .user_comment .--info .-time-chat .-time i {
                  padding-right: 3px;
                  color: var(--clock); }
            .box_story .content_right .comment_story .box_comment .user_comment .--info .-content-comment {
              width: 100%;
              display: block;
              word-wrap: break-word;
              color: var(--text-primary); }
              .box_story .content_right .comment_story .box_comment .user_comment .--info .-content-comment::first-letter {
                display: block;
                text-transform: uppercase; }
        .box_story .content_right .comment_story .box_comment:not(:last-child)::after {
          content: '';
          display: block;
          width: 90%;
          height: 1px;
          position: absolute;
          background-color: rgba(202, 202, 202, 0.5);
          bottom: 0;
          left: 5%;
          margin: 0 auto; }

.box_footer {
  display: flex;
  width: 100%; }
  .box_footer .footer_left {
    width: 330px;
    box-sizing: border-box; }
    .box_footer .footer_left .--logo {
      background-image: url("http://st.truyenchon.com/data/logos/logo-nettruyen.png");
      height: 50px;
      width: 150px;
      background-repeat: no-repeat;
      background-position: center center;
      display: block; }
    .box_footer .footer_left .--box_fanpage {
      width: 100%;
      display: flex;
      background-color: var(--dark-them);
      padding: 8px;
      box-sizing: border-box;
      border-radius: 5px; }
      .box_footer .footer_left .--box_fanpage .-logo {
        background-image: url("https://scontent.fsgn3-1.fna.fbcdn.net/v/t1.0-1/cp0/p50x50/22528449_1856634004370937_5820400839758379699_n.jpg?_nc_cat=1&ccb=2&_nc_sid=dbb9e7&_nc_ohc=lj_jhEszdSwAX9gEoEm&_nc_oc=AQlpRiEY2Yk43SKxpqfjAa9e5bQv3S6RPUrZxE18Uvr56MvVbbjrCDCu21fF6d_iZdMUSNY4OGlYntfFiIDDakHD&_nc_ht=scontent.fsgn3-1.fna&tp=27&oh=8ddd2e4f01d1483b81fa37a83b24af83&oe=60351F03");
        width: 50px;
        height: 50px;
        margin-right: 8px; }
      .box_footer .footer_left .--box_fanpage .fanpage_info {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .box_footer .footer_left .--box_fanpage .fanpage_info .--title {
          text-decoration: none;
          color: #0099ff;
          padding-bottom: 5px; }
        .box_footer .footer_left .--box_fanpage .fanpage_info .--statistical {
          width: 100%;
          display: flex;
          align-items: center; }
          .box_footer .footer_left .--box_fanpage .fanpage_info .--statistical .-like-page {
            margin-right: 5px;
            display: flex;
            align-items: center; }
            .box_footer .footer_left .--box_fanpage .fanpage_info .--statistical .-like-page i {
              color: #ffffff;
              font-size: 16px;
              padding-right: 3px; }
          .box_footer .footer_left .--box_fanpage .fanpage_info .--statistical .-statistical_like {
            font-size: 12px;
            color: var(--text-primary); }
    .box_footer .footer_left .copyright {
      color: var(--text-primary);
      padding-top: 10px;
      display: block;
      width: 100%; }
  .box_footer .footer_right {
    display: flex;
    flex-direction: column;
    width: fit-content;
    box-sizing: border-box;
    padding-left: 15px; }
    .box_footer .footer_right .--title {
      font-size: 20px;
      padding: 10px;
      color: var(--text-primary); }
    .box_footer .footer_right .type_story {
      width: 100%;
      display: flex;
      flex-wrap: wrap; }
      .box_footer .footer_right .type_story .--item {
        border: 1px solid var(--box-border);
        border-radius: 3px;
        box-sizing: border-box;
        align-items: center;
        margin: 4px;
        transition: all 0.2s linear; }
        .box_footer .footer_right .type_story .--item .-link {
          padding: 8px 6px;
          text-decoration: none;
          color: var(--text-primary);
          display: block;
          transition: all 0.2s linear; }
