<div class="form-group_user">
    <label for="" class="title">Tài khoản</label>
    <input type="text" class="info" value="{{ story.nameStory }}">
</div>
<div class="form-group_user">
    <label for="" class="title">Địa chỉ email</label>
    <input type="text" class="info" value="{{ story.nameAuthor }}">
</div>
<div class="form-group_user">
    <label for="" class="title">Địa chỉ email</label>
    <select class="type_story" name="typeStory" id="">
        <option value="storyCompose" {{gender 'storyCompose' story.typeStory}}>Truyện sáng tác</option>
        <option value="storyTranslate" {{gender 'storyTranslate' story.typeStory}}>Truyện dịch</option>
    </select>
</div>
<div class="form-group_user">
    <label for="" class="title">Địa chỉ email</label>
</div>