<div class="footer_background">
    <div class="container">
        <div class="row">
            <div class="box_footer">
                <div class="footer_left">
                    <a href="" class="--logo"></a>
                    <div class="--box_fanpage">
                        <a href="" class="-logo"></a>
                        <div class="fanpage_info">
                            <a href="" class="--title">NetTruyen.com - Truyện Tranh Online</a>
                            <div class="--statistical">
                                <button class="-like-page btn-s">
                                    {{!-- logo facebook is here! --}}
                                    <i class="fab fa-facebook"></i>
                                    Like Page
                                </button>
                                <span class="-statistical_like">
                                    {{!-- statistical like fanpage is here(number)! --}}
                                    184k
                                </span>
                            </div>
                        </div>
                    </div>
                    <span class="copyright">Copyright © 2015 NetTruyen</span>
                </div>
                <div class="footer_right">
                    <span class="--title">Thể loại</span>
                    <ul class="type_story">
                        <li class="--item -hover-text">
                            <a href="" class="-link -hover-text">Chuyển Sinh</a>
                        </li>
                        <li class="--item -hover-text">
                            <a href="" class="-link -hover-text">Đam Mỹ</a>
                        </li>
                        <li class="--item -hover-text">
                            <a href="" class="-link -hover-text">Manga</a>
                        </li>
                        <li class="--item -hover-text">
                            <a href="" class="-link -hover-text">Manhua</a>
                        </li>
                        <li class="--item -hover-text">
                            <a href="" class="-link -hover-text">Manhwa</a>
                        </li>
                        <li class="--item -hover-text">
                            <a href="" class="-link -hover-text">Ngôn Tình</a>
                        </li>
                        <li class="--item -hover-text">
                            <a href="" class="-link -hover-text">Romance</a>
                        </li>
                        <li class="--item -hover-text">
                            <a href="" class="-link -hover-text">Xuyên Không</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>