<div class="box_header">
    <div class="box_header--top">
        <ul class="header_top container">
            <li class="header_top--item">
                {{!--  Logo for Nettruyen --}}
                <a href="/public/home" class="logo"></a>
            </li>
            <li class="header_top--item search_light--novel">
                <input class="-item" name="" id="" placeholder="Tìm truyện...">
                <a href="" class="-btn">
                    <i class="fas fa-search"></i>
                </a>
            </li>
            {{!-- <li class="header_top--item manager">
                <div class="_notification">
                    <i class="far fa-bell"></i>
                    <ul class="--dropdown">
                        <li class="-item">Anything!</li>
                        <li class="-item">Anything!</li>
                        <li class="-item">Anything!</li>
                        <li class="-item">Anything!</li>
                    </ul>
                </div>
                <div class="_user">
                    <i class="far fa-user"></i>
                    <ul class="--dropdown">
                        <li class="-item profile">
                            <a href="" class="_click">
                                <span class="-avatar">
                                <i class="far fa-user"></i>
                                </span>
                                <div class="-property">
                                    <span href="" class="-name">Tên Người Dùng</span>
                                    <span href="" class="-title">Xem Trang Cá Nhân</span>
                                </div>
                            </a>
                        </li>
                        <li class="-item">
                            <a href="" class="_click">
                                <span class="-avatar">
                                <i class="fas fa-book-reader"></i>
                                </span>
                                <div class="-property">
                                    <span href="" class="-name">Truyện Đã Theo Dõi</span>
                                </div>
                            </a>
                        </li>
                        <li class="-item">
                            <a href="" class="_click">
                                <span class="-avatar">
                                <i class="fas fa-list-ol"></i>
                                </span>
                                <div class="-property">
                                    <span href="" class="-name">Truyện Đã Đăng</span>
                                </div>
                            </a>
                        </li>
                        <li class="-item">
                            <a href="" class="_click">
                                <span class="-avatar">
                                <i class="fas fa-sign-out-alt"></i>
                                </span>
                                <div class="-property">
                                    <span href="" class="-name">Thoát</span>
                                </div>
                            </a>
                        </li>
                    </ul>   
                </div>
            </li> --}}

            {{!-- ON/ OFF ONE OF TWO ELEMENT --}}

            <li class="header_top--item manager">
                <div class="sign">
                    <a href="/public/login" class="_in -hover-text">
                        Đăng Nhập
                    </a>
                    <a href="/public/registration" class="_up -hover-text">
                        Đăng Ký
                    </a>
                </div>
            </li>

        </ul>
    </div>
    <div class="box_header--bottom">
        <ul class="header_bottom container">
            <li class="--item">
                <a href="" class="-btn">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li class="--item">
                <a href="" class="-btn">HOT</a>
            </li>
            <li class="--item">
                <a href="" class="-btn">THEO DÕI</a>
            </li>
            <li class="--item">
                <a href="" class="-btn">LỊCH SỬ</a>
            </li>
            <li class="--item">
                <a href="" class="-btn">
                    <p>THỂ LOẠI</p>
                    <i class="fas fa-sort-down"></i>
                </a>
            </li>
            <li class="--item">
                <a href="" class="-btn">
                    <p>XẾP HẠNG</p>
                    <i class="fas fa-sort"></i>
                </a>
            </li>
            <li class="--item">
                <a href="" class="-btn">TÌM TRUYỆN</a>
            </li>
            <li class="--item">
                <a href="" class="-btn">CON GÁI</a>
            </li>
            <li class="--item">
                <a href="" class="-btn">CON TRAI</a>
            </li>
            <li class="--item">
                <a href="" class="-btn">GROUP</a>
            </li>
        </ul>
    </div>
</div>