<div class="box_header">
    <div class="box_header--top">
        <ul class="header_top container">
            <li class="header_top--item">
                {{!--  Logo for Nettruyen --}}
                <a href="/home" class="logo"></a>
            </li>
            <li class="header_top--item search_light--novel">
                <input class="-item" name="" id="" placeholder="Tìm truyện...">
                <a href="" class="-btn">
                    <i class="fas fa-search"></i>
                </a>
            </li>
            <li class="header_top--item manager">
                {{!-- ON/ OFF ONE OF TWO ELEMENT --}}
            </li>

        </ul>
    </div>
    <div class="box_header--bottom">
        <ul class="header_bottom container">
            <li class="--item">
                <a href="/home" class="-btn">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li class="--item">
                <a href="" class="-btn">HOT</a>
            </li>
            <li class="--item">
                <a href="" class="-btn">THEO DÕI</a>
            </li>
            <li class="--item">
                <a href="" class="-btn">LỊCH SỬ</a>
            </li>
            <li class="--item">
                <a href="" class="-btn">
                    THỂ LOẠI
                    <i class="fas fa-sort-down"></i>
                </a>
            </li>
            <li class="--item">
                <a href="" class="-btn">
                    XẾP HẠNG
                    <i class="fas fa-sort"></i>
                </a>
            </li>
            <li class="--item">
                <a href="" class="-btn">TÌM TRUYỆN</a>
            </li>
            <li class="--item">
                <a href="" class="-btn">CON GÁI</a>
            </li>
            <li class="--item">
                <a href="" class="-btn">CON TRAI</a>
            </li>
            <li class="--item">
                <a href="" class="-btn">GROUP</a>
            </li>
            <li class="--item" style="display: none;">
                <a href="" class="-btn">
                    <span class="-info">
                        Đăng nhập lại sau :
                        <span class="--time" id="show_time-expire">00:00:00</span>
                    </span>
                </a>
            </li>
            <li class="--item">
                <a href="" class="-btn"></a>
            </li>
        </ul>
    </div>
</div>