<ul class="container_header">
    <li class="header_items">
        <a class="items_select" href="/">Quản Lí Sinh Viên</a>
    </li>
    <li class="header_items">
        <a class="items_select" href="/secret-account">Show Account</a>
    </li>
    <li class="header_items">
        <a class="items_select" href="/about">About</a>
    </li>
</ul>
<ul class="box_sign">
    <li class="header_items">
        <a href="/face-login" class="items_select">Login</a>
    </li>
    <li class="header_items">
        <a href="/face-register" class="items_select">Register</a>
    </li>
</ul>