<div class="information">
    <p class="edit_profile">
        <span class="-log">Thông tin tài khoản</span>
        <span class="-edit">
            Chỉnh sửa
            <i class="fas fa-pencil-alt"></i>
        </span>
    </p>
    <p class="-content">
        <span class="--user-name">Tên người dùng : {{ data.fullName }}</span>
        <span class="--email">Email : {{ data.email }}</span>
    </p>
</div>