<div class="detail_account">
    <div class="update_profile">
        {{!-- <form action="/private/accept-make-author" method="POST"> --}}
            <div class="form-group_user">
                <label for="" class="title">{{ handleName data }}!, bạn có muốn đăng ký làm tác giả truyện không, sẽ thú vị lắm đó!</label>
            </div>
            <div class="form-group_user">
                <button class="btn" id="accept-make-author">
                    <i class="far fa-check-circle"></i>
                    Đồng ý nè!
                </button>
            </div>
        {{!-- </form> --}}
    </div>
</div>