<div class="upload_story">
    <h1 class="tittle_list-story">Danh sách truyện của bạn</h1>
    <ul class="--menu">
        <li class="-name-story">
            <i class="fas fa-signature"></i>
            Tên truyện
        </li>
        <li class="-state border-left-btn">
            <i class="fas fa-flag-usa"></i>
            Tình trạng
        </li>
        <li class="-chapter-present border-left-btn">
            <i class="fas fa-book-open"></i>
            Chapter hiện tại
        </li>
        <li class="-time-up border-left-btn">
            <i class="fas fa-pencil-alt"></i>
            Ngày cập nhật mới nhất
        </li>
        <li class="-add-story background btn-add border-left-btn" id="add-story">
            <i class="fas fa-plus"></i>
            Thêm truyện mới
        </li>
    </ul>
</div>