<div class="container">
    <div class="user_properties">
        <ul class="route_list">
            <li class="-item">Trang chủ » Thông tin chung</li>
        </ul>
        <div class="user_profile">
            <div class="route_detail">
                <div class="show_user">
                    <span class="-avatar">
                        <img src="{{ showAvatar data.infoAccount.avatar data.infoAccount.gender }}"
                            alt="avatar">
                    </span>
                    <p class="-info">
                        <span class="--hello">Chào bạn nè🤭</span>
                        <span class="--user-name">{{ handleName data }}</span>
                    </p>
                </div>
                <ul class="-index">
                    <li class="--item">
                        <a href="/private/profile">
                            <i class="fab fa-wizards-of-the-coast"></i>
                            Thông tin chung
                        </a>
                    </li>
                    <li class="--item">
                        <a href="/private/account-detail">
                            <i class="fas fa-info-circle"></i>
                            Thông tin tài khoản
                        </a>
                    </li>
                    <li class="--item">
                        <a href="">
                            <i class="far fa-eye"></i>
                            Truyện đã theo dõi
                        </a>
                    </li>
                    <li class="--item">
                        <a href="">
                            <i class="fas fa-list-ul"></i>
                            Truyện đã đăng
                        </a>
                    </li>
                    <li class="--item">
                        <a href="">
                            <i class="far fa-comment-dots"></i>
                            Bình luận
                        </a>
                    </li>
                    <li class="--item">
                        <a href="">
                            <i class="far fa-bell"></i>
                            Thông báo
                        </a>
                    </li>
                    <li class="--item tick">
                        <a href="/private/change-password">
                            <i class="fas fa-lock"></i>
                            Đổi mật khẩu
                        </a>
                    </li>
                    <li class="--item">
                        <a href="" class="logout" id="account-detail">
                            <i class="fas fa-sign-out-alt"></i>
                            Thoát
                        </a>
                    </li>
                </ul>
            </div>
            <div class="show_content">
                <h1 class="--title">ĐỔI MẬT KHẨU</h1>
                <div class="detail_account">
                    <div class="update_profile">
                        <form action="/private/change-password?_method=PATCH" method="POST">
                            <div class="form-group_user">
                                <label for="" class="title">Mật khẩu cũ</label>
                                <input type="password" class="info" name="oldPassword" required>
                            </div>
                            <div class="form-group_user">
                                <label for="" class="title">Mật khẩu mới</label>
                                <input type="password" class="info" name="newPassword" required>
                            </div>
                            <div class="form-group_user">
                                <label for="" class="title">Xác nhận mật khẩu mới</label>
                                <input type="password" class="info" name="confirmPassword" required>
                            </div>
                            <div class="form-group_user">
                                <button class="btn">
                                    <i class="fas fa-pencil-alt"></i>
                                    Cập nhật
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
