<div class="container home_content">
    <div class="side_bar">
        
    </div>
    <div class="box_story">
        <ul class="list_story">
            {{!-- item story --}}
            <li class="story">
                <div class="story_photo">
                    <a href="" class="story_link">
                        <img src="http://st.truyenchon.com/data/comics/249/dich-vu-thue-ban-gai.jpg">
                    </a>    
                    <div class="story_info">
                        <p class="--view">
                            <i class="far fa-eye"></i>
                            154564
                        </p>
                        <p class="--comment">
                            <i class="fas fa-comment"></i>
                            8845
                        </p>
                        <p class="--heart">
                            <i class="fas fa-heart"></i>
                            230
                        </p>
                    </div>
                </div> 
                <h1 class="story_name">Dịch Vụ Thuê Bạn Gái</h1>
                <div class="story_state--chapter">
                    <div class="-last">
                        <p class="-number-chapter">Chapter 125</p>
                        <p class="-time">04 phút trước</p>
                    </div>    
                    <div class="-last">
                        <p class="-number-chapter">Chapter 124</p>
                        <p class="-time">04 phút trước</p>
                    </div>
                    <div class="-last">
                        <p class="-number-chapter">Chapter 123</p>
                        <p class="-time">04 phút trước</p>
                    </div>
                </div>
            </li>
            <li class="story">
                <div class="story_photo">
                    <a href="" class="story_link">
                        <img src="http://st.truyenchon.com/data/comics/249/dich-vu-thue-ban-gai.jpg">
                    </a>    
                    <div class="story_info">
                        <p class="--view">
                            <i class="far fa-eye"></i>
                            154564
                        </p>
                        <p class="--comment">
                            <i class="fas fa-comment"></i>
                            8845
                        </p>
                        <p class="--heart">
                            <i class="fas fa-heart"></i>
                            230
                        </p>
                    </div>
                </div> 
                <h1 class="story_name">Dịch Vụ Thuê Bạn Gái</h1>
                <div class="story_state--chapter">
                    <div class="-last">
                        <p class="-number-chapter">Chapter 125</p>
                        <p class="-time">04 phút trước</p>
                    </div>    
                    <div class="-last">
                        <p class="-number-chapter">Chapter 124</p>
                        <p class="-time">04 phút trước</p>
                    </div>
                    <div class="-last">
                        <p class="-number-chapter">Chapter 123</p>
                        <p class="-time">04 phút trước</p>
                    </div>
                </div>
            </li>
            <li class="story">
                <div class="story_photo">
                    <a href="" class="story_link">
                        <img src="http://st.truyenchon.com/data/comics/249/dich-vu-thue-ban-gai.jpg">
                    </a>    
                    <div class="story_info">
                        <p class="--view">
                            <i class="far fa-eye"></i>
                            154564
                        </p>
                        <p class="--comment">
                            <i class="fas fa-comment"></i>
                            8845
                        </p>
                        <p class="--heart">
                            <i class="fas fa-heart"></i>
                            230
                        </p>
                    </div>
                </div> 
                <h1 class="story_name">Dịch Vụ Thuê Bạn Gái</h1>
                <div class="story_state--chapter">
                    <div class="-last">
                        <p class="-number-chapter">Chapter 125</p>
                        <p class="-time">04 phút trước</p>
                    </div>    
                    <div class="-last">
                        <p class="-number-chapter">Chapter 124</p>
                        <p class="-time">04 phút trước</p>
                    </div>
                    <div class="-last">
                        <p class="-number-chapter">Chapter 123</p>
                        <p class="-time">04 phút trước</p>
                    </div>
                </div>
            </li>
            <li class="story">
                <div class="story_photo">
                    <a href="" class="story_link">
                        <img src="http://st.truyenchon.com/data/comics/249/dich-vu-thue-ban-gai.jpg">
                    </a>    
                    <div class="story_info">
                        <p class="--view">
                            <i class="far fa-eye"></i>
                            154564
                        </p>
                        <p class="--comment">
                            <i class="fas fa-comment"></i>
                            8845
                        </p>
                        <p class="--heart">
                            <i class="fas fa-heart"></i>
                            230
                        </p>
                    </div>
                </div> 
                <h1 class="story_name">Dịch Vụ Thuê Bạn Gái</h1>
                <div class="story_state--chapter">
                    <div class="-last">
                        <p class="-number-chapter">Chapter 125</p>
                        <p class="-time">04 phút trước</p>
                    </div>    
                    <div class="-last">
                        <p class="-number-chapter">Chapter 124</p>
                        <p class="-time">04 phút trước</p>
                    </div>
                    <div class="-last">
                        <p class="-number-chapter">Chapter 123</p>
                        <p class="-time">04 phút trước</p>
                    </div>
                </div>
            </li>
            <li class="story">
                <div class="story_photo">
                    <a href="" class="story_link">
                        <img src="http://st.truyenchon.com/data/comics/249/dich-vu-thue-ban-gai.jpg">
                    </a>    
                    <div class="story_info">
                        <p class="--view">
                            <i class="far fa-eye"></i>
                            154564
                        </p>
                        <p class="--comment">
                            <i class="fas fa-comment"></i>
                            8845
                        </p>
                        <p class="--heart">
                            <i class="fas fa-heart"></i>
                            230
                        </p>
                    </div>
                </div> 
                <h1 class="story_name">Dịch Vụ Thuê Bạn Gái</h1>
                <div class="story_state--chapter">
                    <div class="-last">
                        <p class="-number-chapter">Chapter 125</p>
                        <p class="-time">04 phút trước</p>
                    </div>    
                    <div class="-last">
                        <p class="-number-chapter">Chapter 124</p>
                        <p class="-time">04 phút trước</p>
                    </div>
                    <div class="-last">
                        <p class="-number-chapter">Chapter 123</p>
                        <p class="-time">04 phút trước</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>