<div class="container home_content">
    <div class="side_bar">
        <div class="row">
            <h1 class="--title-name">TRUYỆN ĐỀ CỬ ></h1>        
        </div>
        <div class="side_show">
            <ul class="story_appoint owl-carousel">
                <li class="--appoint">
                    <a href="" class="-link">
                        <img class="-image-story" src="http://st.truyenchon.com/data/comics/205/trong-sinh-sau-tam-van-nam.jpg" alt="">
                    </a>
                    <div class="-manager">
                        <div class="-info">
                            <a href="" class="-link">
                                <h1 class="-name">Tiên Võ Đế Tôn</h1>
                            </a>
                            <div class="-time">
                                <a href="">
                                    <p class="-number-chapter">Chapter 125</p>
                                </a>
                                <p class="-time-up-chapter">1 ngày trước</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="--appoint">
                    <a href="" class="-link">
                        <img class="-image-story" src="http://st.truyenchon.com/data/comics/205/trong-sinh-sau-tam-van-nam.jpg" alt="">
                    </a>
                    <div class="-manager">
                        <div class="-info">
                            <a href="" class="-link">
                                <h1 class="-name">Tiên Võ Đế Tôn</h1>
                            </a>
                            <div class="-time">
                                <a href="">
                                    <p class="-number-chapter">Chapter 125</p>
                                </a>
                                <p class="-time-up-chapter">1 ngày trước</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="--appoint">
                    <a href="" class="-link">
                        <img class="-image-story" src="http://st.truyenchon.com/data/comics/205/trong-sinh-sau-tam-van-nam.jpg" alt="">
                    </a>
                    <div class="-manager">
                        <div class="-info">
                            <a href="" class="-link">
                                <h1 class="-name">Tiên Võ Đế Tôn</h1>
                            </a>
                            <div class="-time">
                                <a href="">
                                    <p class="-number-chapter">Chapter 125</p>
                                </a>
                                <p class="-time-up-chapter">1 ngày trước</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="--appoint">
                    <a href="" class="-link">
                        <img class="-image-story" src="http://st.truyenchon.com/data/comics/205/trong-sinh-sau-tam-van-nam.jpg" alt="">
                    </a>
                    <div class="-manager">
                        <div class="-info">
                            <a href="" class="-link">
                                <h1 class="-name">Tiên Võ Đế Tôn</h1>
                            </a>
                            <div class="-time">
                                <a href="">
                                    <p class="-number-chapter">Chapter 125</p>
                                </a>
                                <p class="-time-up-chapter">1 ngày trước</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="--appoint">
                    <a href="" class="-link">
                        <img class="-image-story" src="http://st.truyenchon.com/data/comics/205/trong-sinh-sau-tam-van-nam.jpg" alt="">
                    </a>
                    <div class="-manager">
                        <div class="-info">
                            <a href="" class="-link">
                                <h1 class="-name">Tiên Võ Đế Tôn</h1>
                            </a>
                            <div class="-time">
                                <a href="">
                                    <p class="-number-chapter">Chapter 125</p>
                                </a>
                                <p class="-time-up-chapter">1 ngày trước</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="--appoint">
                    <a href="" class="-link">
                        <img class="-image-story" src="http://st.truyenchon.com/data/comics/205/trong-sinh-sau-tam-van-nam.jpg" alt="">
                    </a>
                    <div class="-manager">
                        <div class="-info">
                            <a href="" class="-link">
                                <h1 class="-name">Tiên Võ Đế Tôn</h1>
                            </a>
                            <div class="-time">
                                <a href="">
                                    <p class="-number-chapter">Chapter 125</p>
                                </a>
                                <p class="-time-up-chapter">1 ngày trước</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="--appoint">
                    <a href="" class="-link">
                        <img class="-image-story" src="http://st.truyenchon.com/data/comics/205/trong-sinh-sau-tam-van-nam.jpg" alt="">
                    </a>
                    <div class="-manager">
                        <div class="-info">
                            <a href="" class="-link">
                                <h1 class="-name">Tiên Võ Đế Tôn</h1>
                            </a>
                            <div class="-time">
                                <a href="">
                                    <p class="-number-chapter">Chapter 125</p>
                                </a>
                                <p class="-time-up-chapter">1 ngày trước</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="--appoint">
                    <a href="" class="-link">
                        <img class="-image-story" src="http://st.truyenchon.com/data/comics/205/trong-sinh-sau-tam-van-nam.jpg" alt="">
                    </a>
                    <div class="-manager">
                        <div class="-info">
                            <a href="" class="-link">
                                <h1 class="-name">Tiên Võ Đế Tôn</h1>
                            </a>
                            <div class="-time">
                                <a href="">
                                    <p class="-number-chapter">Chapter 125</p>
                                </a>
                                <p class="-time-up-chapter">1 ngày trước</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="--appoint">
                    <a href="" class="-link">
                        <img class="-image-story" src="http://st.truyenchon.com/data/comics/205/trong-sinh-sau-tam-van-nam.jpg" alt="">
                    </a>
                    <div class="-manager">
                        <div class="-info">
                            <a href="" class="-link">
                                <h1 class="-name">Tiên Võ Đế Tôn</h1>
                            </a>
                            <div class="-time">
                                <a href="">
                                    <p class="-number-chapter">Chapter 125</p>
                                </a>
                                <p class="-time-up-chapter">1 ngày trước</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="--appoint">
                    <a href="" class="-link">
                        <img class="-image-story" src="http://st.truyenchon.com/data/comics/205/trong-sinh-sau-tam-van-nam.jpg" alt="">
                    </a>
                    <div class="-manager">
                        <div class="-info">
                            <a href="" class="-link">
                                <h1 class="-name">Tiên Võ Đế Tôn</h1>
                            </a>
                            <div class="-time">
                                <a href="">
                                    <p class="-number-chapter">Chapter 125</p>
                                </a>
                                <p class="-time-up-chapter">1 ngày trước</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="box_story">
        <div class="row">
            <h1 class="--title-name">TRUYỆN MỚI CẬP NHẬT ></h1>
        </div>
        <div class="list_story">
            <ul class="row">
                <li class="story">
                    <div class="story_photo">
                        <a href="" class="story_link">
                            <img src="http://st.truyenchon.com/data/comics/249/dich-vu-thue-ban-gai.jpg">
                        </a>    
                        <div class="story_info">
                            <p class="--view">
                                <i class="far fa-eye"></i>
                                154564
                            </p>
                            <p class="--comment">
                                <i class="fas fa-comment"></i>
                                8845
                            </p>
                            <p class="--heart">
                                <i class="fas fa-heart"></i>
                                230
                            </p>
                        </div>
                    </div> 
                    <h1 class="story_name">Dịch Vụ Thuê Bạn Gái</h1>
                    <div class="story_state--chapter">
                        <div class="-last">
                            <p class="-number-chapter">Chapter 125</p>
                            <p class="-time">04 phút trước</p>
                        </div>    
                        <div class="-last">
                            <p class="-number-chapter">Chapter 124</p>
                            <p class="-time">04 phút trước</p>
                        </div>
                        <div class="-last">
                            <p class="-number-chapter">Chapter 123</p>
                            <p class="-time">04 phút trước</p>
                        </div>
                    </div>
                </li>
                <li class="story">
                    <div class="story_photo">
                        <a href="" class="story_link">
                            <img src="http://st.truyenchon.com/data/comics/249/dich-vu-thue-ban-gai.jpg">
                        </a>    
                        <div class="story_info">
                            <p class="--view">
                                <i class="far fa-eye"></i>
                                154564
                            </p>
                            <p class="--comment">
                                <i class="fas fa-comment"></i>
                                8845
                            </p>
                            <p class="--heart">
                                <i class="fas fa-heart"></i>
                                230
                            </p>
                        </div>
                    </div> 
                    <h1 class="story_name">Dịch Vụ Thuê Bạn Gái</h1>
                    <div class="story_state--chapter">
                        <div class="-last">
                            <p class="-number-chapter">Chapter 125</p>
                            <p class="-time">04 phút trước</p>
                        </div>    
                        <div class="-last">
                            <p class="-number-chapter">Chapter 124</p>
                            <p class="-time">04 phút trước</p>
                        </div>
                        <div class="-last">
                            <p class="-number-chapter">Chapter 123</p>
                            <p class="-time">04 phút trước</p>
                        </div>
                    </div>
                </li>
                <li class="story">
                    <div class="story_photo">
                        <a href="" class="story_link">
                            <img src="http://st.truyenchon.com/data/comics/249/dich-vu-thue-ban-gai.jpg">
                        </a>    
                        <div class="story_info">
                            <p class="--view">
                                <i class="far fa-eye"></i>
                                154564
                            </p>
                            <p class="--comment">
                                <i class="fas fa-comment"></i>
                                8845
                            </p>
                            <p class="--heart">
                                <i class="fas fa-heart"></i>
                                230
                            </p>
                        </div>
                    </div> 
                    <h1 class="story_name">Dịch Vụ Thuê Bạn Gái</h1>
                    <div class="story_state--chapter">
                        <div class="-last">
                            <p class="-number-chapter">Chapter 125</p>
                            <p class="-time">04 phút trước</p>
                        </div>    
                        <div class="-last">
                            <p class="-number-chapter">Chapter 124</p>
                            <p class="-time">04 phút trước</p>
                        </div>
                        <div class="-last">
                            <p class="-number-chapter">Chapter 123</p>
                            <p class="-time">04 phút trước</p>
                        </div>
                    </div>
                </li>
                <li class="story">
                    <div class="story_photo">
                        <a href="" class="story_link">
                            <img src="http://st.truyenchon.com/data/comics/249/dich-vu-thue-ban-gai.jpg">
                        </a>    
                        <div class="story_info">
                            <p class="--view">
                                <i class="far fa-eye"></i>
                                154564
                            </p>
                            <p class="--comment">
                                <i class="fas fa-comment"></i>
                                8845
                            </p>
                            <p class="--heart">
                                <i class="fas fa-heart"></i>
                                230
                            </p>
                        </div>
                    </div> 
                    <h1 class="story_name">Dịch Vụ Thuê Bạn Gái</h1>
                    <div class="story_state--chapter">
                        <div class="-last">
                            <p class="-number-chapter">Chapter 125</p>
                            <p class="-time">04 phút trước</p>
                        </div>    
                        <div class="-last">
                            <p class="-number-chapter">Chapter 124</p>
                            <p class="-time">04 phút trước</p>
                        </div>
                        <div class="-last">
                            <p class="-number-chapter">Chapter 123</p>
                            <p class="-time">04 phút trước</p>
                        </div>
                    </div>
                </li>
                <li class="story">
                    <div class="story_photo">
                        <a href="" class="story_link">
                            <img src="http://st.truyenchon.com/data/comics/249/dich-vu-thue-ban-gai.jpg">
                        </a>    
                        <div class="story_info">
                            <p class="--view">
                                <i class="far fa-eye"></i>
                                154564
                            </p>
                            <p class="--comment">
                                <i class="fas fa-comment"></i>
                                8845
                            </p>
                            <p class="--heart">
                                <i class="fas fa-heart"></i>
                                230
                            </p>
                        </div>
                    </div> 
                    <h1 class="story_name">Dịch Vụ Thuê Bạn Gái</h1>
                    <div class="story_state--chapter">
                        <div class="-last">
                            <p class="-number-chapter">Chapter 125</p>
                            <p class="-time">04 phút trước</p>
                        </div>    
                        <div class="-last">
                            <p class="-number-chapter">Chapter 124</p>
                            <p class="-time">04 phút trước</p>
                        </div>
                        <div class="-last">
                            <p class="-number-chapter">Chapter 123</p>
                            <p class="-time">04 phút trước</p>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="row">
                <li class="story">
                    <div class="story_photo">
                        <a href="" class="story_link">
                            <img src="http://st.truyenchon.com/data/comics/249/dich-vu-thue-ban-gai.jpg">
                        </a>    
                        <div class="story_info">
                            <p class="--view">
                                <i class="far fa-eye"></i>
                                154564
                            </p>
                            <p class="--comment">
                                <i class="fas fa-comment"></i>
                                8845
                            </p>
                            <p class="--heart">
                                <i class="fas fa-heart"></i>
                                230
                            </p>
                        </div>
                    </div> 
                    <h1 class="story_name">Dịch Vụ Thuê Bạn Gái</h1>
                    <div class="story_state--chapter">
                        <div class="-last">
                            <p class="-number-chapter">Chapter 125</p>
                            <p class="-time">04 phút trước</p>
                        </div>    
                        <div class="-last">
                            <p class="-number-chapter">Chapter 124</p>
                            <p class="-time">04 phút trước</p>
                        </div>
                        <div class="-last">
                            <p class="-number-chapter">Chapter 123</p>
                            <p class="-time">04 phút trước</p>
                        </div>
                    </div>
                </li>
                <li class="story">
                    <div class="story_photo">
                        <a href="" class="story_link">
                            <img src="http://st.truyenchon.com/data/comics/249/dich-vu-thue-ban-gai.jpg">
                        </a>    
                        <div class="story_info">
                            <p class="--view">
                                <i class="far fa-eye"></i>
                                154564
                            </p>
                            <p class="--comment">
                                <i class="fas fa-comment"></i>
                                8845
                            </p>
                            <p class="--heart">
                                <i class="fas fa-heart"></i>
                                230
                            </p>
                        </div>
                    </div> 
                    <h1 class="story_name">Dịch Vụ Thuê Bạn Gái</h1>
                    <div class="story_state--chapter">
                        <div class="-last">
                            <p class="-number-chapter">Chapter 125</p>
                            <p class="-time">04 phút trước</p>
                        </div>    
                        <div class="-last">
                            <p class="-number-chapter">Chapter 124</p>
                            <p class="-time">04 phút trước</p>
                        </div>
                        <div class="-last">
                            <p class="-number-chapter">Chapter 123</p>
                            <p class="-time">04 phút trước</p>
                        </div>
                    </div>
                </li>
                <li class="story">
                    <div class="story_photo">
                        <a href="" class="story_link">
                            <img src="http://st.truyenchon.com/data/comics/249/dich-vu-thue-ban-gai.jpg">
                        </a>    
                        <div class="story_info">
                            <p class="--view">
                                <i class="far fa-eye"></i>
                                154564
                            </p>
                            <p class="--comment">
                                <i class="fas fa-comment"></i>
                                8845
                            </p>
                            <p class="--heart">
                                <i class="fas fa-heart"></i>
                                230
                            </p>
                        </div>
                    </div> 
                    <h1 class="story_name">Dịch Vụ Thuê Bạn Gái</h1>
                    <div class="story_state--chapter">
                        <div class="-last">
                            <p class="-number-chapter">Chapter 125</p>
                            <p class="-time">04 phút trước</p>
                        </div>    
                        <div class="-last">
                            <p class="-number-chapter">Chapter 124</p>
                            <p class="-time">04 phút trước</p>
                        </div>
                        <div class="-last">
                            <p class="-number-chapter">Chapter 123</p>
                            <p class="-time">04 phút trước</p>
                        </div>
                    </div>
                </li>
                <li class="story">
                    <div class="story_photo">
                        <a href="" class="story_link">
                            <img src="http://st.truyenchon.com/data/comics/249/dich-vu-thue-ban-gai.jpg">
                        </a>    
                        <div class="story_info">
                            <p class="--view">
                                <i class="far fa-eye"></i>
                                154564
                            </p>
                            <p class="--comment">
                                <i class="fas fa-comment"></i>
                                8845
                            </p>
                            <p class="--heart">
                                <i class="fas fa-heart"></i>
                                230
                            </p>
                        </div>
                    </div> 
                    <h1 class="story_name">Dịch Vụ Thuê Bạn Gái</h1>
                    <div class="story_state--chapter">
                        <div class="-last">
                            <p class="-number-chapter">Chapter 125</p>
                            <p class="-time">04 phút trước</p>
                        </div>    
                        <div class="-last">
                            <p class="-number-chapter">Chapter 124</p>
                            <p class="-time">04 phút trước</p>
                        </div>
                        <div class="-last">
                            <p class="-number-chapter">Chapter 123</p>
                            <p class="-time">04 phút trước</p>
                        </div>
                    </div>
                </li>
                <li class="story">
                    <div class="story_photo">
                        <a href="" class="story_link">
                            <img src="http://st.truyenchon.com/data/comics/249/dich-vu-thue-ban-gai.jpg">
                        </a>    
                        <div class="story_info">
                            <p class="--view">
                                <i class="far fa-eye"></i>
                                154564
                            </p>
                            <p class="--comment">
                                <i class="fas fa-comment"></i>
                                8845
                            </p>
                            <p class="--heart">
                                <i class="fas fa-heart"></i>
                                230
                            </p>
                        </div>
                    </div> 
                    <h1 class="story_name">Dịch Vụ Thuê Bạn Gái</h1>
                    <div class="story_state--chapter">
                        <div class="-last">
                            <p class="-number-chapter">Chapter 125</p>
                            <p class="-time">04 phút trước</p>
                        </div>    
                        <div class="-last">
                            <p class="-number-chapter">Chapter 124</p>
                            <p class="-time">04 phút trước</p>
                        </div>
                        <div class="-last">
                            <p class="-number-chapter">Chapter 123</p>
                            <p class="-time">04 phút trước</p>
                        </div>
                    </div>
                </li>
            </ul>
            {{!-- item story --}}
        </div>
    </div>
</div>