<div class="container home_content glass">
    <div class="side_bar">
        <h1 class="--title-name">TRUYỆN ĐỀ CỬ></h1>        
        <div class="side_show">
            <ul class="story_appoint owl-carousel">
                <li class="--appoint">
                    <a href="" class="-link">
                        <img class="-image-story" src="http://st.truyenchon.com/data/comics/205/trong-sinh-sau-tam-van-nam.jpg" alt="">
                    </a>
                    <div class="-manager">
                        <div class="-info">
                            <a href="" class="-link">
                                <h1 class="-name -hover-text">Tiên Võ Đế Tôn</h1>
                            </a>
                            <div class="-time">
                                <a href="">
                                    <p class="-number-chapter -hover-text">Chapter 125</p>
                                </a>
                                <p class="-time-up-chapter">1 ngày trước</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="--appoint">
                    <a href="" class="-link">
                        <img class="-image-story" src="http://st.truyenchon.com/data/comics/205/trong-sinh-sau-tam-van-nam.jpg" alt="">
                    </a>
                    <div class="-manager">
                        <div class="-info">
                            <a href="" class="-link">
                                <h1 class="-name -hover-text">Tiên Võ Đế Tôn</h1>
                            </a>
                            <div class="-time">
                                <a href="">
                                    <p class="-number-chapter -hover-text">Chapter 125</p>
                                </a>
                                <p class="-time-up-chapter">1 ngày trước</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="--appoint">
                    <a href="" class="-link">
                        <img class="-image-story" src="http://st.truyenchon.com/data/comics/205/trong-sinh-sau-tam-van-nam.jpg" alt="">
                    </a>
                    <div class="-manager">
                        <div class="-info">
                            <a href="" class="-link">
                                <h1 class="-name -hover-text">Tiên Võ Đế Tôn</h1>
                            </a>
                            <div class="-time">
                                <a href="">
                                    <p class="-number-chapter -hover-text">Chapter 125</p>
                                </a>
                                <p class="-time-up-chapter">1 ngày trước</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="--appoint">
                    <a href="" class="-link">
                        <img class="-image-story" src="http://st.truyenchon.com/data/comics/205/trong-sinh-sau-tam-van-nam.jpg" alt="">
                    </a>
                    <div class="-manager">
                        <div class="-info">
                            <a href="" class="-link">
                                <h1 class="-name -hover-text">Tiên Võ Đế Tôn</h1>
                            </a>
                            <div class="-time">
                                <a href="">
                                    <p class="-number-chapter -hover-text">Chapter 125</p>
                                </a>
                                <p class="-time-up-chapter">1 ngày trước</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="--appoint">
                    <a href="" class="-link">
                        <img class="-image-story" src="http://st.truyenchon.com/data/comics/205/trong-sinh-sau-tam-van-nam.jpg" alt="">
                    </a>
                    <div class="-manager">
                        <div class="-info">
                            <a href="" class="-link">
                                <h1 class="-name -hover-text">Tiên Võ Đế Tôn</h1>
                            </a>
                            <div class="-time">
                                <a href="">
                                    <p class="-number-chapter -hover-text">Chapter 125</p>
                                </a>
                                <p class="-time-up-chapter">1 ngày trước</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="--appoint">
                    <a href="" class="-link">
                        <img class="-image-story" src="http://st.truyenchon.com/data/comics/205/trong-sinh-sau-tam-van-nam.jpg" alt="">
                    </a>
                    <div class="-manager">
                        <div class="-info">
                            <a href="" class="-link">
                                <h1 class="-name -hover-text">Tiên Võ Đế Tôn</h1>
                            </a>
                            <div class="-time">
                                <a href="">
                                    <p class="-number-chapter -hover-text">Chapter 125</p>
                                </a>
                                <p class="-time-up-chapter">1 ngày trước</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="--appoint">
                    <a href="" class="-link">
                        <img class="-image-story" src="http://st.truyenchon.com/data/comics/205/trong-sinh-sau-tam-van-nam.jpg" alt="">
                    </a>
                    <div class="-manager">
                        <div class="-info">
                            <a href="" class="-link">
                                <h1 class="-name -hover-text">Tiên Võ Đế Tôn</h1>
                            </a>
                            <div class="-time">
                                <a href="">
                                    <p class="-number-chapter -hover-text">Chapter 125</p>
                                </a>
                                <p class="-time-up-chapter">1 ngày trước</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="--appoint">
                    <a href="" class="-link">
                        <img class="-image-story" src="http://st.truyenchon.com/data/comics/205/trong-sinh-sau-tam-van-nam.jpg" alt="">
                    </a>
                    <div class="-manager">
                        <div class="-info">
                            <a href="" class="-link">
                                <h1 class="-name -hover-text">Tiên Võ Đế Tôn</h1>
                            </a>
                            <div class="-time">
                                <a href="">
                                    <p class="-number-chapter -hover-text">Chapter 125</p>
                                </a>
                                <p class="-time-up-chapter">1 ngày trước</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="--appoint">
                    <a href="" class="-link">
                        <img class="-image-story" src="http://st.truyenchon.com/data/comics/205/trong-sinh-sau-tam-van-nam.jpg" alt="">
                    </a>
                    <div class="-manager">
                        <div class="-info">
                            <a href="" class="-link">
                                <h1 class="-name -hover-text">Tiên Võ Đế Tôn</h1>
                            </a>
                            <div class="-time">
                                <a href="">
                                    <p class="-number-chapter -hover-text">Chapter 125</p>
                                </a>
                                <p class="-time-up-chapter">1 ngày trước</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="--appoint">
                    <a href="" class="-link">
                        <img class="-image-story" src="http://st.truyenchon.com/data/comics/205/trong-sinh-sau-tam-van-nam.jpg" alt="">
                    </a>
                    <div class="-manager">
                        <div class="-info">
                            <a href="" class="-link">
                                <h1 class="-name -hover-text">Tiên Võ Đế Tôn</h1>
                            </a>
                            <div class="-time">
                                <a href="">
                                    <p class="-number-chapter -hover-text">Chapter 125</p>
                                </a>
                                <p class="-time-up-chapter">1 ngày trước</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="box_story">
        <div class="content_left">
            <h1 class="--title-name">TRUYỆN MỚI CẬP NHẬT ></h1>
            <div class="list_story">
                <ul class="row">
                    <li class="story">
                        <div class="story_photo">
                            <a href="" class="story_link">
                                <img src="http://st.truyenchon.com/data/comics/249/dich-vu-thue-ban-gai.jpg">
                            </a>    
                            <div class="story_info">
                                <p class="--view">
                                    <i class="far fa-eye"></i>
                                    154564
                                </p>
                                <p class="--comment">
                                    <i class="fas fa-comment"></i>
                                    8845
                                </p>
                                <p class="--heart">
                                    <i class="fas fa-heart"></i>
                                    230
                                </p>
                            </div>
                        </div> 
                        <a href="" class="story_name -hover-text">Dịch Vụ Thuê Bạn Gái</a>
                        <div class="story_state--chapter">
                            <div class="-last">
                                <a href="" class="-number-chapter -hover-text">Chapter 125</a>
                                <p class="-time">04 phút trước</p>
                            </div>    
                            <div class="-last">
                                <a href="" class="-number-chapter -hover-text">Chapter 124</a>
                                <p class="-time">04 phút trước</p>
                            </div>
                            <div class="-last">
                                <a href="" class="-number-chapter -hover-text">Chapter 123</a>
                                <p class="-time">04 phút trước</p>
                            </div>
                        </div>
                    </li>
                </ul>
                {{!-- item story --}}
            </div>
            <ul class="pagi">
                {{!-- add class is-active will be have hover for item on element <li> --}}
                <li class="pagi-item pagi-action pagi-prev is-disabled">
                    <i class="fal fa-angle-left"></i>
                </li>
                <li class="pagi-item">1</li>
                <li class="pagi-item">2</li>
                <li class="pagi-item">3</li>
                <li class="pagi-item">4</li>
                <li class="pagi-item">5</li>
                <li class="pagi-item pagi-action pagi-next">
                    <i class="fal fa-angle-right"></i>
                </li>
            </ul>
        </div>
        <div class="content_right">
            <div class="rank_story">
                <div class="box_top">
                    <div class="top_month -hover-text">Top Tháng</div>
                    <div class="top_week -hover-text">Top Tuần</div>
                    <div class="top_day -hover-text">Top Ngày</div>
                </div>
                <div class="rank_index">
                    <div class="rank_one rank_blue horizontal-align">
                        <span class="--number">01</span>
                        <a href="" class="--avatar-story"></a>
                        <div class="--story_property">
                            <a href="" class="-name_story -hover-text">Đối Phương Phải Tỏ Tình Trước</a>
                            <div class="-story-info">
                                <a href="" class="-number-chapter -hover-text">Chapter 127</a>
                                <span class="-view-story">
                                    {{!-- Icon view is here --}}
                                    <i class="far fa-eye"></i>
                                    7.216.717
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="rank_two rank_green horizontal-align">
                        <span class="--number">01</span>
                        <a href="" class="--avatar-story"></a>
                        <div class="--story_property">
                            <a href="" class="-name_story -hover-text">Đối Phương Phải Tỏ Tình Trước</a>
                            <div class="-story-info">
                                <a href="" class="-number-chapter -hover-text">Chapter 127</a>
                                <span class="-view-story">
                                    {{!-- Icon view is here --}}
                                    <i class="far fa-eye"></i>
                                    7.216.717
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="rank_three rank_red horizontal-align">
                        <span class="--number">01</span>
                        <a href="" class="--avatar-story"></a>
                        <div class="--story_property">
                            <a href="" class="-name_story -hover-text">Đối Phương Phải Tỏ Tình Trước</a>
                            <div class="-story-info">
                                <a href="" class="-number-chapter -hover-text">Chapter 127</a>
                                <span class="-view-story">
                                    {{!-- Icon view is here --}}
                                    <i class="far fa-eye"></i>
                                    7.216.717
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="rank_four horizontal-align">
                        <span class="--number">01</span>
                        <a href="" class="--avatar-story"></a>
                        <div class="--story_property">
                            <a href="" class="-name_story -hover-text">Đối Phương Phải Tỏ Tình Trước</a>
                            <div class="-story-info">
                                <a href="" class="-number-chapter -hover-text">Chapter 127</a>
                                <span class="-view-story">
                                    {{!-- Icon view is here --}}
                                    <i class="far fa-eye"></i>
                                    7.216.717
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comment_story">
                <span class="--title">Bình Luận Mới</span>
                <div class="box_comment horizontal-align">
                    <a href="" class="--info">
                        <span class="-name -hover-text">Name Story</span>
                        <span class="-number-chapter">Chapter 27</span>
                    </a>
                    <div class="user_comment">
                        <a href=""class="--avatar --avatar-flash"></a>
                        <div class="--info">
                            <div class="-time-chat">
                                <a href="" class="-name -hover-text">
                                    Nguyễn Tấn Pháp
                                    <i class="fas fa-feather-alt"></i>
                                </a>
                                <span class="-time">
                                    <i class="far fa-clock"></i>
                                    13 Giây Trước
                                </span>
                            </div>
                            <span class="-content-comment">long diễn quân là thanh niên mới ra đời. con kia nó là đứa tu luyện ma đạo lâu năm.thằng kia là chiếu mới trải nên dễ nảy sinh tình cảm chứ con kia trải sự đời lâu rồi muốn nó nảy sinh tình cảm khó lắm .</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>