<form action="action-login" method="POST">
    <div class="container__login">
        <div class="login__box-top">
            <div class="login__box-top--username">
                <input type="text" name="username" placeholder="Please fill to user name">
            </div>
            <div class="login__box-top--password">
                <input type="text" name="password" placeholder="Please fill to your password">
            </div>
        </div>
        <div class="login__box-bottom">
            <div class="login__box-submit--login">
                <button type="submit">login</button>
            </div>
        </div>
    </div>
</form>