<div class="signup">
    <img src="https://c4.wallpaperflare.com/wallpaper/916/699/661/anime-anime-girls-landscape-kimi-no-na-wa-wallpaper-preview.jpg" alt="" class="signup-image">
    <div class="signup-container">
        <div class="tab">
            <div class="tab-item is-active">Sign in</div>
            <div class="tab-item">Sign up</div>
        </div>
        <h1 class="signup-heading">Sign in</h1>
        <form class="signup-form" autocomplete="off">
            <div class="form-group">
                <label for="name" class="form-label">Full name</label>
                <input type="text" id="name" class="form-input" placeholder="Ex: John Doe" required name="name">
            </div>
            <div class="form-group">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" class="form-input" placeholder="Ex: johndoe@email.com" required
                    name="email">
            </div>
            <div class="form-group">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" class="form-input" placeholder="************" required
                    name="password">
            </div>
            {{!-- <div class="form-group">
                <label for="re-password" class="form-label">Repeat password</label>
                <input type="password" id="re-password" class="form-input" placeholder="************" required
                    name="re-password">
            </div> --}}
            {{!-- <div class="form-group signup-term">
                By clicking you agree with our <a href="#" class="signup-term-link">Term of use.</a>
            </div> --}}
            <button type="submit" class="btn btn--gradient">Sign in</button>
        </form>
    </div>
</div>