<span>
    <p>
        Bạn gì ơi, bạn cần phải  
    </p>
    <a href="/public/login"> &lt;&lt;&lt;Đăng nhập&gt;&gt;&gt;</a>
    <p>Hoặc</p>
    <a href="/public/registration">&lt;&lt;&lt;Đăng ký&gt;&gt;&gt;</a>
    <p>
        .Thì Bạn mới đăng bài được nha. Còn không thì về  nào!
    </p>
    <a href="/public/home"> &lt;&lt;&lt;trang chủ&gt;&gt;&gt;</a>
</span>