<div class="container">
    <div class="user_properties">
        <ul class="route_list">
            <li class="-item">Trang chủ » Thông tin chung</li>
        </ul>
        <div class="user_profile">
            <div class="route_detail">
                <div class="show_user">
                    <span class="-avatar">
                        <img src="https://i.pinimg.com/originals/01/48/0f/01480f29ce376005edcbec0b30cf367d.jpg"
                            alt="avatar">
                    </span>
                    <p class="-info">
                        <span class="--hello">Chào bạn nè🤭</span>
                        <span class="--user-name">{{ data.fullName }}</span>
                    </p>
                </div>
                <ul class="-index">
                    <li class="--item tick">
                        <a href="/private/profile">
                            <i class="fab fa-wizards-of-the-coast"></i>
                            Thông tin chung
                        </a>
                    </li>
                    <li class="--item">
                        <a href="/private/account-detail">
                            <i class="fas fa-info-circle"></i>
                            Thông tin tài khoản
                        </a>
                    </li>
                    <li class="--item">
                        <a href="">
                            <i class="far fa-eye"></i>
                            Truyện đã theo dõi
                        </a>
                    </li>
                    <li class="--item">
                        <a href="">
                            <i class="fas fa-list-ul"></i>
                            Truyện đã đăng
                        </a>
                    </li>
                    <li class="--item">
                        <a href="">
                            <i class="far fa-comment-dots"></i>
                            Bình luận
                        </a>
                    </li>
                    <li class="--item">
                        <a href="">
                            <i class="far fa-bell"></i>
                            Thông báo
                        </a>
                    </li>
                    <li class="--item">
                        <a href="/private/change-password">
                            <i class="fas fa-lock"></i>
                            Đổi mật khẩu
                        </a>
                    </li>
                    <li class="--item">
                        <a href="" class="logout" id="profile">
                            <i class="fas fa-sign-out-alt"></i>
                            Thoát
                        </a>
                    </li>
                </ul>
            </div>
            <div class="show_content">
                <h1 class="--title">THÔNG TIN CHUNG</h1>
                <div>
                    <p class="-info">
                        <span class="-account">Thông tin tài khoản</span>
                        <span class="-edit">
                            Chỉnh sửa
                            <i class="fas fa-pencil-alt"></i>
                        </span>
                    </p>
                    <p class="-content">
                        <span class="--user-name">Tên người dùng : {{ data.fullName }}</span>
                        <span class="--email">Email : {{ data.email }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
