<form action="/action-register" method="POST">
    <div class="container__register">
        <div class="register__box-top">
            <div class="register__box-top--username">
                <input type="text" name="username" placeholder="Please fill to user name">
            </div>
            <div class="register__box-top--password">
                <input type="text" name="password" placeholder="Please fill to your password">
            </div>
            <div class="register__box-top--confirm-password">
                <input type="text" name="confirm_password" placeholder="Please fill to your password again">
            </div>
        </div>
        <div class="register__box-bottom">
            <div class="register__box-submit-login">
                <button type="submit">Register</button>
            </div>
        </div>
    </div>
</form>